@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    /* para usar a medida rem */
    font-size: 62.5%;
    font-family: 'Inconsolata';
}

p {
    color: hsl(252, 6%, 83%);
    font-weight: 700;
}